.edit-box{
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0em;
    border: 0em;
    display: none;
    z-index: 9990;
}

.low-pri{
    border-right: 3px solid rgba(255, 255, 0, 0.5) !important;
    border-left: 3px solid rgba(255, 255, 0, 0.5) !important;
}

.mod-pri{
    border-right: 3px solid rgba(255, 94, 0, 0.7) !important;
    border-left: 3px solid rgba(255, 94, 0, 0.7) !important;
}

.hig-pri{
    border-right: 3px solid rgba(255, 0, 0, 0.9) !important;
    border-left: 3px solid rgba(255, 0, 0, 0.9) !important;
}

.list-group-item:first-child {
    border-radius: 0em !important;
}
.list-group-item:last-child {
    border-radius: 0em !important;
}
