<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="description" content="web-app">
    <meta name="author" content="Puneet Grover">
    <title>Login - Sign Up</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='lib/font-awesome/css/all.min.css')}}">
    <script src="{{url_for('static', filename='lib/font-awesome/js/all.min.js')}}"></script>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='common/js/script.js')}}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ToDo App</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm" id="ls-tabs">
                
                
                <ul class="nav nav-tabs" id="nav-links">
                    <li class="nav-item">
                        <a class="nav-link active login" data-toggle="collapse" role='button' href="#login" aria-expanded="true" aria-controls="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link signup" role='button' data-toggle="collapse" data-target="#signup" aria-expanded="false" aria-controls="signup">Sign Up</a>
                    </li>
                </ul>
                
                
                <div class="collapse show login" id="login" data-parent="#ls-tabs">
                    <form>
                        <div class="form-group login">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control login" id="log_email" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted login">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group login">
                            <label for="password">Password</label>
                            <input type="password" class="form-control login" id="log_password" placeholder="Password">
                        </div>
                        <div class="float-right">
                            <a id="forgot-pass-btn">Forgot Password?</a>
                        </div>
                        <button type="submit" class="btn btn-primary login">Login</button>
                    </form>
                </div>
                
                
                <div class="collapse signup" id="signup" data-parent="#ls-tabs">
                    <form>
                        <div class="form-group signup">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control signup" id="reg_email" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted signup">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group signup">
                            <label for="password">Password</label>
                            <input type="password" class="form-control signup" id="reg_password" placeholder="Password">
                        </div>
                        <div class="form-group signup col-md-8">
                            <label for="security-question">Security Question</label>
                            <select id="security-question" class="form-control">
                                <option selected>--Select--</option>
                                <option>What is your hometown's name?</option>
                                <option>What is/was your first pet's name?</option>
                                <option>Who is your favorite author?</option>
                                <option>Who is your favorite character in your favorite show?</option>
                            </select>
                        </div>
                        <div class="form-group signup">
                            <label for="security-answer">Answer</label>
                            <input type="text" class="form-control" id="security-answer">
                        </div>
                        <button type="submit" class="btn btn-primary signup">Sign Up</button>
                    </form>
                </div>
                
                <div class="container" id="forgot-pass-container" style="display: none;">
                    <form>
                        <div class="form-group forgot">
                            <label for="yremail">Email address</label>
                            <input type="email" class="form-control forgot" id="yremail" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group forgot col-md-8">
                            <label for="yrsecurity-question">Security Question</label>
                            <select id="yrsecurity-question" class="form-control">
                                <option selected>--Select--</option>
                                <option>What is your hometown's name?</option>
                                <option>What is/was your first pet's name?</option>
                                <option>Who is your favorite author?</option>
                                <option>Who is your favorite character in your favorite show?</option>
                            </select>
                        </div>
                        <div class="form-group forgot">
                            <label for="yrsecurity-answer">Answer</label>
                            <input type="text" class="form-control" id="yrsecurity-answer">
                        </div>
                        <div class="form-group forgot">
                            <label for="new-password">New Password</label>
                            <input type="password" class="form-control forgot" id="new-password" placeholder="New Password">
                        </div>
                        <button type="submit" id="change-pass" class="btn btn-primary forgot">Change Password</button>
                    </form>
                </div>
            
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</body>
</html>
